{% extends "base.html" %} {% block title %}Enter Your Location{% endblock %} {% block content
%}

<body onLoad="changeAllThree()">
<div align="center">{{user.username}}, the Air Quality for the monitoring station closest to you at {{data.cityN}} is {{data.aq}}</div>
<br/>

 <div class="row">
  <div id = "c1" class="column" align="center" style="background-color:#aaa;">Expected Air Quality Tomorrow: {{forecast.one_day}}</div>
  <div id = "c2" class="column" align="center" style="background-color:#bbb;">Expected Air Quality in Two Days: {{forecast.two_day}}</div>
  <div id = "c3" class="column" align="center" style="background-color:#ccc;">Expected Air Quality in Three Days: {{forecast.three_day}}</div>
</div>
</body>

       <script  type = "text/javascript">
           const a = {{forecast["one_day"]}} ;
           const b = {{forecast["two_day"]}} ;
           const c = {{forecast["three_day"]}} ;
           const col1 = "c1";
           const col2 = "c2";
           const col3 = "c3";
           function changeColor(forecastq,column){
               var img = document.createElement("img");
               document.getElementById(column).innerHTML += "<br>";
               if (forecastq>{{user.air_quality_threshold}})
                     document.getElementById(column).innerHTML +=
                         "<br>The forecasted air quality is over your designated threshold.";
                 else
                     document.getElementById(column).innerHTML +=
                         "<br>The forecasted air quality is under your designated threshold.";
                document.getElementById(column).innerHTML += "<br>";
                if (forecastq<50) {
                    document.getElementById(column).style = "background-color: rgb(171, 227, 91);";
                    document.getElementById(column).innerHTML += "<br>Safe levels detected.";
                    document.getElementById(column).innerHTML += "<br>";
                    img.src = "static/images/Green.png";
                    document.getElementById(column).appendChild(img);
                }
               else if (forecastq<100) {
                    document.getElementById(column).style = "background-color: rgb(251, 211, 75);";
                    document.getElementById(column).innerHTML += "<br>Caution is recommended for those who are very sensitive to air pollution.";
                    document.getElementById(column).innerHTML += "<br>";
                    img.src = "static/images/Yellow.png";
                    document.getElementById(column).appendChild(img);
                }
                else if (forecastq<150) {
                    document.getElementById(column).style = "background-color: rgb(251, 155, 83);";
                    document.getElementById(column).innerHTML += "<br>If you are sensitive to air pollution you should limit exposure as much as possible.";
                    document.getElementById(column).innerHTML += "<br>";
                    img.src = "static/images/Orange.png";
                    document.getElementById(column).appendChild(img);
                }
                 else if (forecastq<200) {
                    document.getElementById(column).style = "background-color: rgb(251, 107, 107);";
                     document.getElementById(column).innerHTML += "<br>Everybody should limit their exposure as much as possible.";
                    document.getElementById(column).innerHTML += "<br>";
                    img.src = "static/images/Red.png";
                    document.getElementById(column).appendChild(img);
                }
                else if (forecastq<300) {
                    document.getElementById(column).style = "background-color: rgb(171, 123, 187);";
                     document.getElementById(column).innerHTML += "<br>It is recommended that you don't go outside.";
                    document.getElementById(column).innerHTML += "<br>";
                    img.src = "static/images/Purple.png";
                    document.getElementById(column).appendChild(img);
                }
                 else {
                    document.getElementById(column).style = "background-color: rgb(171, 115, 131);";
                    document.getElementById(column).innerHTML += "<br>It is recommended that you don't go outside.";
                    document.getElementById(column).innerHTML += "<br>";
                    img.src = "static/images/DarkV.png";
                    document.getElementById(column).appendChild(img);
                }
              }
              function changeAllThree(){
                    changeColor(a,col1);
                     changeColor(b,col2);
                      changeColor(c,col3);
              }
       </script>
      <a href='https://pngtree.com/freepng/boy-air-quality_6845091.html'>The air quality faces were designed by HadoNguyen from pngtree.com</a>
{% endblock %}
